/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* ПРОЕКТ - СЛОЖНО СОСРЕДОТОЧИТЬСЯ*/
/* style.css - Mobile First подход */

.page {
  /* сохраните в разметке и стилях класс page у тега body. 
  Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  min-inline-size: 375px;
  max-inline-size: 1024px;
  background-attachment: fixed;
}

/* Секция Заголовок */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
  position: relative;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
}

/* Декоративные уголки */
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  bottom: 10px;
  left: 10px;
}

/* Надпись - REC */
.rec {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color);
  visibility: var(--rec-visible);
  font-size: var(--font-size);
  line-height: 25px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-left: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  height: 26px;
  background: transparent;
  color: var(--btn-color);
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
  text-transform: lowercase;
  padding: 0 13px 4px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--decor-color);
  box-shadow: 0 0 5px currentColor;
}

/* Title - no focus */
.header__title {
  font-size: var(--font-size-mobile);
  color: var(--title-color);
  text-shadow: var(--text-shadow);
  font-family: var(--main-font, monospace);
  line-height: 83.5%;
  grid-area: 2 / 1;
}

.header__text {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-weight: 700;
  width: clamp(355px, 50%, 500px);
  grid-area: 3 / 1;
  align-self: center;
}

/* Основной контент */
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline: 10px;
  padding-block: 40px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__title {
  color: var(--section-title-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.content__section-text {
  display: flex;
  flex-direction: column;
  line-height: var(--line-height);
  gap: 10px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-size: var(--font-size);
}

.content__text {
  color: var(--text-color);
}

.section__text-advice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: var(--line-height);
}

.section__text-advice:first-child {
  margin-top: 20px;
}

.section__text-advice .content__text {
  margin-top: 0;
  margin-bottom: 0px;
}

.section__text-advice:not(:last-child) {
  padding-bottom: 20px;
}

.section__text-advice:last-child {
  padding-bottom: 0;
}

.regular {
  font-weight: 400;
}

/* Стили ссылок в тексте */
.link {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--link-shadow);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

/* Галерея */
.content__gallery {
  display: grid;
  gap: 10px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */
.footer {
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}

.footer__title {
  font-size: var(--font-size-mobile);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Планшетная версия (>=768px) */
@media (min-width: 768px) {
  .header {
    min-height: 1024px;
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu {
    padding-top: 155px;
  }

  .header__title {
    font-size: var(--font-size-desktop);
    margin-inline-start: -20px;
    justify-self: start;
  }

  .header__theme-menu-list {
    padding-bottom: 158px;
  }

  .header__text {
    justify-self: end;
  }

  .content {
    padding: 60px 20px;
    gap: 80px;
  }

  .content__section--question {
    grid-template-columns: 1fr 2fr;
    grid-row: span 2;
  }

  .content__section--question .content__title {
    grid-row: span 2;
  }
  
  .content__section--factors {
    grid-template-columns: 1fr;
  }

  .content__section--factors .content__title {
    max-width: 30%;
    grid-column: 1 / -1;
  }

  .content__section--advices {
    grid-template-columns: 1fr 2fr;
  }

  .content__gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "title title title"
      "sunset sunset ice"
      "tape books ice"
      "tape street street";
  }

  .gallery__title {
    grid-area: title;
  }

  .sunset-img {
    grid-area: sunset;
  }

  .ice-img {
    grid-area: ice;
  }

  .tape-img {
    grid-area: tape;
  }

  .books-img {
    grid-area: books;
  }

  .street-img {
    grid-area: street;
  }

  .footer {
    min-height: 1024px;
  }
}

/* Десктопная версия (>=1024px) */
@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-top: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header {
    min-height: 768px;
  }

  .header__title {
    text-shadow: var(--text-shadow);
  }

  .header__text {
    margin-block-end: 4px;
  }

  .content__section--question {
    grid-template-columns: 315px 1fr;
  }

  .content__section--question .content__title {
    grid-row: span 2;
  }

  .content__section--factors {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }

  .content__section--factors .content__title {
    grid-column: span 3;
    max-width: 30%;
  }

  .content__section--advices {
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 315px 1fr;
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--accent-shadow);
    font-size: var(--font-size-desktop);
  }

  .footer {
    min-height: 768px;
  }
}
